# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# IDEs
.vscode/
.idea/
*.swp

# PaddleOCR Specific (if using default download locations or outputs)
inference/
output/
train_data/
*.log

# Windows
Thumbs.db
Desktop.ini